        #Databox {
            border: 1px solid gray;
            height: 30px;
            width: 470px;
            background-color: aqua;
            text-align: center;
            font-size: 23px;
            padding: 25px;
            border-width: 4px;
            border-color: rgb rgb(118, 247, 225);
            margin: 19px 0px 0px 500px;
            text-align: center;
            border-radius: 10px;

        }

        h1{
            margin-top: -13px;
        }

        .Dataform {
            border: 1px solid black;
            height: 959px;
            width: 850px;
            text-align: left;
            font-size: 23px;
            padding: 0px 0px 0px 28px;
            border-width: 4px;
            border-color: rgb rgb(118, 247, 225);
            margin: 20px;
            text-align: left;
            background-image: url('Form.jpg');
            margin: 27px 6px 17px 292px;
            padding: 38px 14px 0px 28px;
            border-radius: 10px;
            font-family: cursive;
        }

        .brt {
            color: rgb(73, 73, 253);
            background-color: rgb(255, 247, 131);
            font-size: 23px;
            padding: 1%;
            border-radius: 10px;
            /* margin: 27px 6px 17px 292px; */
            font-family: cursive;
            cursor: pointer;

        }

        .brt:hover {
            color: black;
            background-color: rgb(125, 134, 241);
        }

        #TG {
            color: rgb(107, 107, 107);
            font-family: cursive;
            margin-left: 200px;

        }